/* =========================
   Custom overrides Medilab
   ========================= */

/* Hover para los links padres del dropdown (Pacientes, Gestión) */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a {
    background-color: rgba(12, 184, 182, 0.21) !important;
    color: #fff !important;
}

/* Hover para los items dentro del dropdown (más oscuro que el menú principal) */
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: rgba(12, 184, 182, 0.6) !important; /* más oscuro */
    color: #fff !important;
    background-image: none !important;
    outline: none !important;
}


/* Fondo del dropdown */
.navbar-default .dropdown-menu {
    background-color: #fff;
    border: none;
}

/* Caret (flechita) en estado normal */
.navbar-default .navbar-nav > li > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

/* Caret al hacer hover o menú abierto */
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > li.dropdown:hover > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
